.counter {
  display: flex;
  gap: 1rem;
}

.counter .counter-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  /* background: var(--blue); */
}

.counter .counter-item span.label {
  font-size: 0.8rem;
  color: var(--blue-dark);
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 0.1rem;
  background: #fff;
}

.counter .counter-item span.value {
  width: 100%;
  padding: 0 .5rem 0 .5rem;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 500px) {
  .counter .counter-item span.value {
    font-size: 2.5rem;
  }

  .counter .counter-item {
    width: fit-content;
  }
}